<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cndatacom.pcc.dao.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndatacom.pcc.domain.Comments">
    <result column="id" property="id" />
        <result column="father_comment_id" property="fatherCommentId" />
        <result column="to_user_id" property="toUserId" />
        <result column="travelid" property="travelid" />
        <result column="from_user_id" property="fromUserId" />
        <result column="comment" property="comment" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
