<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cndatacom.pcc.dao.StucontactMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cndatacom.pcc.domain.Stucontact">
        <id column="contactid" property="contactid" />
        <result column="to_id" property="toId" />
        <result column="from_id" property="fromId" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
